* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
}

#messages {
    display: none;
}

.p1 {
    border-top: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    font-weight: bolder;
    margin-top: 5px;
    padding: 3px;
    user-select: none;
}

.p2 {
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    margin-bottom: 5px;
    padding: 3px; 
}

#messArea {
    display: flex;
    flex-direction: column-reverse;
}
.deleteBtn{
    background-image: url(busket.svg);
    background-size: contain;
    margin-top: 6px;
    height: 30px;
    width: 30px;
    border-radius: 1rem;
    position: absolute;
    right: 25px;
}